html {
    background-color:rgb(214, 219, 195);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
.adjust-heading { 
  color:rgb(15, 16, 16);
  font-size: 30px;
  text-align: center;
  background-color: aquamarine;
}

header {
 text-align: center;
  border: 5px solid whitesmoke;
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 10px;
}

.adjust-nav-ul {
  border: 5px solid whitesmoke;
  margin-left: 4px;
  }

  .adjust-nav-li {
  text-align: center;
  padding: 5px;
}

nav li {
  padding: 10px;
  display: inline;
 }

main {
  display: flex;
}

.adjust-article {
  margin-left: 5px;
  background-color: aquamarine;
  margin-right: 8px;
  padding: 5px;
}

aside {
  text-align: center;
  background-color: aquamarine;
  margin-right: 2px;
}

.adjust-list-style {
  list-style-type: none;
}

aside li {
  
  padding: 3px;
  margin-right: 40px;
}

footer {
  background-color: aquamarine;
  margin-top: 8px;
  margin-left: 5px;
  margin-right: 2px;
}

p {
  color: black;
}